name: Generate Tactical UAV Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with:
          github_user_name: resitasrav
          outputs: |
            dist/drone-snake-dark.svg?color_snake=#8B0000,#B22222,#FF0000&color_dots=#1A0000,#2A0000,#3A0000,#4A0000,#5A0000
            dist/drone-snake-light.svg?color_snake=#8B0000,#B22222,#FF0000&color_dots=#F5F5F5,#E8E8E8,#DCDCDC,#CFCFCF,#C2C2C2

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
